body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

nav {
  background-color: #161616;
  color: white;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #f2c14e;
}

header {
  background-image: url("testi1.png");
  height: 600px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #333;
  padding: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

main {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.contact-info {
  text-align: center;
}

.map {
  float: right;
  margin-left: 20px;
}

h1 {
  background-image: linear-gradient(to right, #333, #131313);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  text-shadow: 1px 1px 1px #ccc;
}
